<div style="float: left; margin-left: 6%">
  <div iclass="card" style="width: 18rem">
    <img src="{{ hero.portrait }}" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{ hero.name }}</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="progress progress-bar">
          <div
            role="progressbar"
            aria-valuemin="0"
            [attr.aria-valuemax]="hero.hp"
          >
            <div
              [style.width]="(currentHeroHP / hero.hp) * 100 + '%'"
              class="progress-bar"
              [ngClass]="{
                'bg-success': (currentHeroHP / hero.hp) * 100 > 50,
                'bg-danger': (currentHeroHP / hero.hp) * 100 < 26,
                'bg-warning':
                  (currentHeroHP / hero.hp) * 100 < 51 &&
                  (currentHeroHP / hero.hp) * 100 > 25
              }"
            >
              {{ currentHeroHP }} / {{ hero.hp }}
            </div>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="progress">
          <div
            class="progress-bar"
            role="progressbar"
            [style.width]="(currentHeroMP / hero.mana) * 100 + '%'"
            [attr.aria-valuenow]="currentHeroMP / hero.mana"
            aria-valuemin="0"
            [attr.aria-valuemax]="hero.mana"
          >
            {{ currentHeroMP }} / {{ hero.mana }}
          </div>
        </div>
      </li>
      <li class="list-group-item text-center">
        <button
          class="btn btn-outline-primary"
          [disabled]="gameWin || gameLoss"
          (click)="attack(true)"
        >
          Attack
        </button>
      </li>
      <li class="list-group-item text-center">
        Spells:
        <div *ngFor="let spell of hero.castableSpells">
          <button
            class="in-game-spell btn btn-outline-primary"
            (click)="castSpell(spell.id, true)"
            [disabled]="currentHeroMP < spell.manaCost || gameWin || gameLoss"
          >
            {{ spell.name }} <span *ngIf=""></span>
          </button>
        </div>
      </li>
    </ul>
  </div>
</div>

<div style="float: left; margin-left: 8%; height: 100%; margin-top: 20%; text-align: center;">
  <div iclass="card" style="width: 18rem" *ngIf="!gameWin || !gameLoss">VS.</div>
  <p></p>
  <div iclass="card" style="width: 18rem" *ngIf="userActionNumber != 0 && !gameWin && !gameLoss">
    You used {{ userAction }} and modified {{ userActionNumber }} HP
    <p></p>
    The enemy used {{enemyAction}} and modified {{enemyActionNumber}} HP
  </div>
  <div iclass="card" style="width: 18rem" *ngIf="gameWin || gameLoss">
    <h3>{{title}}</h3>
    <p><h5>{{message}}</h5>
    <p><button class="btn btn-primary" onClick="window.location.reload();">GO AGANE</button>

  </div>
</div>

<div style="float: left; margin-left: 6%">
  <div iclass="card" style="width: 18rem">
    <img src="{{ enemy.portrait }}" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{ enemy.name }}</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="progress progress-bar">
          <div
            role="progressbar"
            aria-valuemin="0"
            [attr.aria-valuemax]="enemy.hp"
          >
            <div
              [style.width]="(currentEnemyHP / enemy.hp) * 100 + '%'"
              class="progress-bar"
              [ngClass]="{
                'bg-success': (currentEnemyHP / enemy.hp) * 100 > 50,
                'bg-danger': (currentEnemyHP / enemy.hp) * 100 < 26,
                'bg-warning':
                  (currentEnemyHP / enemy.hp) * 100 < 51 &&
                  (currentEnemyHP / enemy.hp) * 100 > 25
              }"
            >
              {{ currentEnemyHP }} / {{ enemy.hp }}
            </div>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        Known Spells:
        <ol>
          <li class="text-center" *ngFor="let spell of enemy.castableSpells">
            {{ spell.name }}
          </li>
        </ol>
      </li>
    </ul>
  </div>
</div>

