/* You can add global styles to this file, and also import other style files */

.col-container {
  display: table; /* Make the container element behave like a table */
  width: 100%; /* Set full-width to expand the whole page */
}

.col {
  display: table-cell; /* Make elements inside the container behave like table cells */
  float: left;
  margin-left: 1%;
}

.in-game-spell
 {
  margin-bottom: 5px;
 }
