<div *ngFor="let hero of heroes" style="float:left; margin: 5px; margin-bottom: 10px;">
  <div iclass="card" style="width: 18rem;" *ngIf="isListVisible">
    <img src="{{hero.portrait}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{hero.name}}</h5>
      <p class="card-text">Rating : {{hero.rating}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">HP : {{hero.hp}}</li>
      <li class="list-group-item">MP {{hero.mp}}</li>
      <li class="list-group-item">Armor : {{hero.armor}}</li>
      <li class="list-group-item">Known Spells:
        <ol>
          <li class=" text-center" *ngFor="let spell of hero.castableSpells">Known Spell: {{spell.name}} ({{spell.damageMin}} - {{spell.damageMax}})
            SpellType: {{spell.spellType}}</li>
        </ol>

      </li>



    </ul>
    <div class="card-body text-center">
      <button type="button" class="btn btn-outline-primary" (click)="heroChosen(hero.id)">Choose this hero</button>
    </div>
  </div>
</div>

<div style="margin-left: 10%">
  <div iclass="card" style="width: 18rem;" *ngIf="heroisChosen">
    <img src="{{chosenHero.portrait}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{chosenHero.name}}</h5>
      <p class="card-text">Rating : {{chosenHero.rating}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="progress">
          <div class="progress-bar bg-danger" role="progressbar" [style.width]="currentHeroHP/chosenHero.hp*100 + '%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="">{{currentHeroHP}} / {{chosenHero.hp}}</div>
        </div>
    </li>
      <li class="list-group-item">
        <div class="progress">
          <div class="progress-bar" role="progressbar" [style.width]="currentHeroMP/chosenHero.mana*100 + '%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="">{{currentHeroMP}} / {{chosenHero.mana}}</div>
        </div>
      </li>
      <li class="list-group-item">Armor : {{chosenHero.armor}}</li>
      <li class="list-group-item">Known Spells:
        <ol>
          <li class=" text-center" *ngFor="let spell of chosenHero.castableSpells">Known Spell: {{spell.name}} ({{spell.damageMin}} - {{spell.damageMax}})
            SpellType: {{spell.spellType}}</li>
        </ol>

      </li>
    </ul>
  </div>
</div>
