<div *ngIf="isListVisible">
  <div
    *ngFor="let hero of heroes"
    style="
      float: left;
      margin: 5px;
      margin-bottom: 5px;
      border-radius: 5px;
      border: 2px solid darkblue;
    "
  >
    <div iclass="card" style="width: 18rem">
      <img src="{{ hero.portrait }}" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ hero.name }}</h5>
        <p class="card-text">Rating : {{ hero.rating }}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">HP : {{ hero.hp }}</li>
        <li class="list-group-item">MP {{ hero.mp }}</li>
        <li class="list-group-item">Armor : {{ hero.armor }}</li>
        <li class="list-group-item">
          Known Spells:
          <ol>
            <li class="text-center" *ngFor="let spell of hero.castableSpells">
              Known Spell: {{ spell.name }} ({{ spell.damageMin }} -
              {{ spell.damageMax }}) SpellType: {{ spell.spellType }}
            </li>
          </ol>
        </li>
      </ul>
      <div class="card-body text-center">
        <button
          type="button"
          class="btn btn-outline-primary"
          (click)="heroChosen(hero.id)"
        >
          Choose this hero
        </button>
      </div>
    </div>
  </div>

</div>
<app-battle-comp [hero]="chosenHero" *ngIf="heroisChosen"></app-battle-comp>
