<div *ngFor="let hero of heroes" style="float:left; margin: 5px; margin-bottom: 10px;">
  <div class="card" style="width: 18rem;">
    <img src="{{hero.portrait}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{hero.name}}</h5>
      <p class="card-text">{{hero.description}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Rating : {{hero.rating}}</li>
      <li class="list-group-item">{{hero.heroClass}}</li>

    </ul>
    <div class="card-body">
      <a href="/hero/{{hero.id}}" class="card-link">Hero info</a>
    </div>
  </div>
</div>

