<div class="col-container">
  <div *ngFor="let hero of heroes" >
    <div class="card col" style="width: 18rem">
      <img src="{{ hero.portrait }}" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ hero.name }}</h5>
        <p class="card-text">{{ hero.description }}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Rating : {{ hero.rating }}</li>
        <li class="list-group-item">{{ hero.heroClass }}</li>
      </ul>
      <div class="card-body">
        <a href="/hero/{{ hero.id }}" class="card-link">Hero info</a>
        <button
          *ngIf="hero.isPlayable"
          class="btn btn-primary"
          style="float: right"
        >
          Playable
        </button>
      </div>
    </div>
  </div>
</div>
